span.hidden-message
{
  opacity: 0.0;
}
span.shown-message
{
  opacity: 1.0;
}

body
{
  font-family: sans-serif;
  background-image: url("https://memorado.com/assets/appraisals/iqtest/results/iqtest-en.jpg");
  color: black;
  text-align: center;
}

div.examples > h3
{
  color: red;
  font-weight: bold;
}

div.examples > p
{
  font-size: 20px;
  font-weight: bold;
}

h1.heading
{
  letter-spacing: 12px;
  font-weight: bold;
}

div.userInputIntro
{
  margin-top: 50px;
  color: red;
}

div.userInputIntro > h4
{
  font-weight: bold;
}

.input
{
  font-size: 20px;
  font-weight: bold;
  color: #0000FF;
}

#tests
{
  font-weight: bold;
  font-size: 20px;
  line-height: 200%;
}

.footer
{
  position: absolute;
  bottom: 0;
  left: 40%;
}
